
<p>Computer's cards</p>
<hand-of-cards
  (computerDiscard)="computerDiscard()"
  (computerDraw)="drawCard(computerCards)"
  [playerCards]="computerCards" [cardsVisible]="false" [myTurn]="!myTurn">
</hand-of-cards>


<hr>

<div class="row">
  <div class="col-xs-2"> <deck [cards]= "currentDeck" (click)="drawCard(playerCards)"> </deck>
  </div>
  <div class="col-xs-2"> <pile [cards]="pile"> </pile> </div>
  <div class="col-xs-6 col-xs-offset-2" style="border: 1px solid black;height: 100px"></div>
</div>


<hr>

<p>Player's cards</p>
<hand-of-cards (discard)="playerCards = discardCard($event,playerCards,computerCards)" [playerCards]="playerCards" [cardsVisible]="true" [myTurn]="myTurn">

</hand-of-cards>
